{
  "swagger": "2.0",
  "info": {
    "description": "Documentação do repositório destinado aos arquivos desenvolvidos da plataforma de disseminação de dados Convecção, para a Aprendizagem por Projetos Integrados da FATEC Profº. Jessen Vidal de São José Dos Campos, no 4º semestre de Desenvolvimento de Software Multiplataforma.",
    "version": "1.0.0",
    "title": "Conveccção",
    "contact": {
      "email": "conveccao.4dsm@gmail.com"
    },
    "license": {
      "name": "MIT license",
      "url": "https://github.com/Conveccao/conveccao-documentacao"
    }
  },
  "host": "app.vercel",
  "tags": [
    {
      "name": "Estações",
      "description": "Operações relacionados as estações"
    },
    {
      "name": "Sensores",
      "description": "Operações relacionadas aos sensores"
    }
  ],
  "schemes": [
    "http"
  ],
  "paths": {
    "/get-stations": {
      "get": {
        "tags": [
          "Estações"
        ],
        "summary": "Busca todos as estações registradas na plataforma",
        "description": "Ultiliza a requisição Get para mostrar todos os chamados existentes.",
        "operationId": "getEstacoes",
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "302": {
            "description": "retorna as estações registradas",
            "schema": {
              "$ref": "#/definitions/Estacao"
            }
          }
        }
      }
    },
    "/get-stations/:id": {
      "get": {
        "tags": [
          "Estações"
        ],
        "summary": "Busca todos as estações registradas na plataforma",
        "description": "Ultiliza a requisição Get para mostrar todos os chamados existentes.",
        "operationId": "getEstacoesiD",
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "302": {
            "description": "retorna as estações registradas",
            "schema": {
              "$ref": "#/definitions/Estacao"
            }
          }
        }
      }
    },
    "/stations": {
      "post": {
        "tags": [
          "Estações"
        ],
        "summary": "Cadastra uma estação no banco de dados",
        "description": "registra uam estações e seus parametros no banco de dados",
        "operationId": "registerestacoes",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "List of user object",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Estacao"
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "A estação foi cadastrada com sucesso"
          }
        }
      }
    },
    "/update-station/:id": {
      "put": {
        "tags": [
          "Estações"
        ],
        "summary": "Atualiza os dados de uma estação",
        "description": "Atualiza os dados de uma estação já cadastrada, alterando os dados solicitados",
        "operationId": "AtualizarEstacoes",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "dados que serão atualizados",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Estacao"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "retorna a estação com os dados alterados"
          }
        }
      }
    },
    "/delete-stations/:id": {
      "delete": {
        "tags": [
          "Estações"
        ],
        "summary": "Deleta uma estação",
        "description": "através da id, remove uma estação cadastrada no banco de dados da aplicação",
        "operationId": "deleteEstacao",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "ID da estação",
            "in": "body",
            "description": "Id da Estação que será deleta",
            "required": true,
            "schema": {
              "items": {
                "$ref": "#/definitions/EstacaoID"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok"
          },
          "400": {
            "description": "ID de estação inválido"
          },
          "404": {
            "description": "Chamado not found"
          }
        }
      }
    },
    "/sensorType": {
      "post": {
        "tags": [
          "Sensores"
        ],
        "summary": "Cadastra o tipo de um sensor",
        "description": "Define qual o tipo de um sensor que foi cadastradado",
        "operationId": "typeSensor",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/SensorType"
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "A estação foi cadastrada com sucesso"
          }
        }
      }
    },
    "/get-sensorsType": {
      "get": {
        "tags": [
          "Sensores"
        ],
        "summary": "Traz todos os sensores cadastrados na plataforma por tipo",
        "description": "Retorna todos os sensores que possuem um mesmo tipo, cadastrado na plataforma",
        "operationId": "GetSensorType",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/SensorType"
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Retorna todas as estações cadastradas com sucesso"
          }
        }
      }
    },
    "/sensor": {
      "post": {
        "tags": [
          "Sensores"
        ],
        "summary": "Cadastra um sensor no banco de dados",
        "description": "envia os dados de um sensor para serem registrados em um banco de dados.",
        "operationId": "RegisterSensor",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Sensor"
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "O sensor foi cadastrado com sucesso"
          }
        }
      }
    },
    "/get-sensors": {
      "get": {
        "tags": [
          "Sensores"
        ],
        "summary": "Retorna de maneira geral todos os sensores cadastrados.",
        "description": "Retorna, de maneira geral, todos os sensores que estiverem cadastrados na plataforma e todos as suas informações.",
        "operationId": "GetSensors",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Sensor"
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Retonará todos os sensores cadastrados"
          }
        }
      }
    }
  },
  "definitions": {
    "Estacao": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64"
        }
      }
    },
    "EstacaoID": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64",
          "example": "6254056c201cec400af6S1e6"
        }
      }
    },
    "SensorType": {
      "type": "object",
      "properties": {
        "tipo": {
          "type": "string"
        },
        "id": {
          "type": "integer",
          "format": "int64"
        }
      }
    },
    "Sensor": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64"
        }
      }
    },
    "SensorID": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64"
        }
      }
    }
  },
  "externalDocs": {
    "description": "Conheça a Convecção",
    "url": "https://github.com/"
  }
}