{
  "swagger": "2.0",
  "info": {
    "description": "Documentação do repositório destinado aos arquivos desenvolvidos da plataforma de disseminação de dados Convecção, para a Aprendizagem por Projetos Integrados da FATEC Profº. Jessen Vidal de São José Dos Campos, no 4º semestre de Desenvolvimento de Software Multiplataforma. OBS: Nos encorajamos que ultilize o insominia para teste das rotas, removendo o () em cada rota.",
    "version": "1.0.0",
    "title": "Conveccção",
    "contact": {
      "email": "conveccao.4dsm@gmail.com"
    },
    "license": {
      "name": "MIT license",
      "url": "https://github.com/Conveccao/conveccao-documentacao"
    }
  },
  "host": "app.vercel",
  "tags": [
    {
      "name": "Estações",
      "description": "Operações relacionados as estações"
    },
    {
      "name": "Sensores",
      "description": "Operações relacionadas aos sensores"
    }
  ],
  "schemes": [
    "http"
  ],
  "paths": {
    "/stations": {
      "get": {
        "tags": [
          "Estações"
        ],
        "summary": "Busca todos as estações registradas na plataforma",
        "description": "Ultiliza a requisição Get para mostrar todos os chamados existentes.Remova os parenteses() para utilizar.",
        "operationId": "getEstacoes",
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "302": {
            "description": "retorna as estações registradas",
            "schema": {
              "$ref": "#/definitions/Station"
            }
          }
        }
      }
    },
    "/stations/:id": {
      "get": {
        "tags": [
          "Estações"
        ],
        "summary": "Busca todos as estações registradas na plataforma",
        "description": "Ultiliza a requisição Get para mostrar todos os chamados existentes. Remova os parenteses() para utilizar.",
        "operationId": "getEstacoesiD",
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "302": {
            "description": "retorna as estações registradas",
            "schema": {
              "$ref": "#/definitions/Station"
            }
          }
        }
      }
    },
    "/stations(create)": {
      "post": {
        "tags": [
          "Estações"
        ],
        "summary": "Cadastra uma estação no banco de dados",
        "description": "registra uma estações e seus parametros no banco de dados. Remova os parenteses() para utilizar.",
        "operationId": "registerestacoes",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "List of user object",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Station"
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "A estação foi cadastrada com sucesso"
          }
        }
      }
    },
    "/station/:id (update)": {
      "put": {
        "tags": [
          "Estações"
        ],
        "summary": "Atualiza os dados de uma estação",
        "description": "Atualiza os dados de uma estação já cadastrada, alterando os dados solicitados",
        "operationId": "AtualizarEstacoes",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "dados que serão atualizados",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Station"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "retorna a estação com os dados alterados"
          }
        }
      }
    },
    "/stations/:id (delete)": {
      "delete": {
        "tags": [
          "Estações"
        ],
        "summary": "Deleta uma estação",
        "description": "através da id, remove uma estação cadastrada no banco de dados da aplicação",
        "operationId": "deleteEstacao",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "ID da estação",
            "in": "body",
            "description": "Id da Estação que será deleta",
            "required": true,
            "schema": {
              "items": {
                "$ref": "#/definitions/EstacaoID"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok"
          },
          "400": {
            "description": "ID de estação inválido"
          },
          "404": {
            "description": "Chamado not found"
          }
        }
      }
    },
    "/sensorTypes": {
      "post": {
        "tags": [
          "Sensores"
        ],
        "summary": "Cadastra o tipo de um sensor",
        "description": "Define qual o tipo de um sensor que foi cadastradado",
        "operationId": "typeSensor",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/SensorType"
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "A estação foi cadastrada com sucesso"
          }
        }
      }
    },
    "/sensorTypes(get)": {
      "get": {
        "tags": [
          "Sensores"
        ],
        "summary": "Traz todos os sensores cadastrados na plataforma por tipo",
        "description": "Retorna todos os sensores que possuem um mesmo tipo, cadastrado na plataforma",
        "operationId": "GetSensorType",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/SensorType"
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Retorna todas as estações cadastradas com sucesso"
          }
        }
      }
    },
    "/sensors": {
      "post": {
        "tags": [
          "Sensores"
        ],
        "summary": "Cadastra um sensor no banco de dados",
        "description": "envia os dados de um sensor para serem registrados em um banco de dados.",
        "operationId": "RegisterSensor",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Sensor"
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "O sensor foi cadastrado com sucesso"
          }
        }
      }
    },
    "/sensors(get)": {
      "get": {
        "tags": [
          "Sensores"
        ],
        "summary": "Retorna de maneira geral todos os sensores cadastrados.",
        "description": "Retorna, de maneira geral, todos os sensores que estiverem cadastrados na plataforma e todos as suas informações.",
        "operationId": "GetSensors",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Sensor"
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Retonará todos os sensores cadastrados"
          }
        }
      }
    },
    "/sensors/:id": {
      "get": {
        "tags": [
          "Sensores"
        ],
        "summary": "Busca um determinado um sensor especifico registrado",
        "description": "Ultiliza a requisição Get para retornar um sensor por ID.",
        "operationId": "getSensoresiD",
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "302": {
            "description": "retorna as sensores registradas",
            "schema": {
              "$ref": "#/definitions/Sensor"
            }
          }
        }
      }
    },
    "/sensors/:id (delete)": {
      "delete": {
        "tags": [
          "Sensores"
        ],
        "summary": "Deleta um sensor",
        "description": "através da id, remove um sensor cadastrado no banco de dados da aplicação",
        "operationId": "deleteSensor",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "ID do Sensor",
            "in": "body",
            "description": "Id do Sensor que será deleta",
            "required": true,
            "schema": {
              "items": {
                "$ref": "#/definitions/SensorID"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok"
          },
          "400": {
            "description": "ID de Sensor inválido"
          },
          "404": {
            "description": "Chamado not found"
          }
        }
      }
    },
    "/sensor/:id (update)": {
      "put": {
        "tags": [
          "Sensores"
        ],
        "summary": "Atualiza os dados de um sensor",
        "description": "Atualiza os dados de um Sensor já cadastrado, alterando os dados solicitados",
        "operationId": "AtualizarSensores",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "dados que serão atualizados",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/SensorID"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "retorna o Sensor com os dados alterados"
          }
        }
      }
    }
  },
  "definitions": {
    "Station": {
      "type": "object",
      "properties": {
        "id": {
          "type": "number"
        },
        "instalation_date": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "lat": {
          "type": "number"
        },
        "lon": {
          "type": "number"
        },
        "reference": {
          "type": "string"
        }
      }
    },
    "EstacaoID": {
      "type": "object",
      "properties": {
        "id": {
          "type": "number"
        }
      }
    },
    "SensorType": {
      "type": "object",
      "properties": {
        "tipo": {
          "type": "string"
        },
        "id": {
          "type": "number"
        },
        "name": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "unit1": {
          "type": "string"
        },
        "factor1": {
          "type": "number"
        },
        "offset1": {
          "type": "number"
        },
        "unit2": {
          "type": "string"
        },
        "factor2": {
          "type": "number"
        },
        "offset2": {
          "type": "number"
        },
        "reference": {
          "type": "string"
        },
        "min": {
          "type": "string"
        },
        "max": {
          "type": "string"
        }
      }
    },
    "Sensor": {
      "type": "object",
      "properties": {
        "id": {
          "type": "number"
        },
        "station_id": {
          "type": "number"
        },
        "description": {
          "type": "string"
        },
        "model": {
          "type": "string"
        },
        "minrange": {
          "type": "number"
        },
        "maxrange": {
          "type": "number"
        },
        "accurace": {
          "type": "number"
        },
        "startdate": {
          "type": "string",
          "format": "date"
        },
        "enddate": {
          "type": "string",
          "format": "date"
        }
      }
    },
    "SensorID": {
      "type": "number"
    }
  },
  "externalDocs": {
    "description": "Conheça a Convecção",
    "url": "https://github.com/Conveccao"
  }
}