{
  "swagger": "2.0",
  "info": {
    "description": "Documentação do repositório destinado aos arquivos desenvolvidos da plataforma de disseminação de dados Convecção, para a Aprendizagem por Projetos Integrados da FATEC Profº. Jessen Vidal de São José Dos Campos, no 4º semestre de Desenvolvimento de Software Multiplataforma.",
    "version": "1.0.0",
    "title": "Conveccção",
    "contact": {
      "email": "conveccao.4dsm@gmail.com"
    },
    "license": {
      "name": "MIT license",
      "url": "https://github.com/Conveccao/conveccao-documentacao"
    }
  },
  "host": "app.vercel",
  "tags": [
    {
      "name": "Estações",
      "description": "Operações relacionados as estações"
    },
    {
      "name": "Sensores",
      "description": "Operações relacionadas aos sensores"
    }
  ],
  "schemes": [
    "http"
  ],
  "paths": {
    "/estacoes": {
      "get": {
        "tags": [
          "Estações"
        ],
        "summary": "Busca todos as estações registradas na plataforma",
        "description": "Ultiliza a requisição Get para mostrar todos os chamados existentes.",
        "operationId": "getEstacoes",
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "302": {
            "description": "retorna as estações registradas",
            "schema": {
              "$ref": "#/definitions/Estacao"
            }
          }
        }
      }
    },
    "/estacoes/cadastrar": {
      "post": {
        "tags": [
          "Estações"
        ],
        "summary": "Cadasra uma estação no banco de dados",
        "description": "registra uam estações e seus parametros no banco de dados",
        "operationId": "registerestacoes",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "List of user object",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Estacao"
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "A estação foi cadastrada com sucesso"
          }
        }
      }
    },
    "/estacoes/alterar": {
      "put": {
        "tags": [
          "Estações"
        ],
        "summary": "Atualiza os dados de uma estação",
        "description": "Atualiza os dados de uma estação já cadastrada, alterando os dados solicitados",
        "operationId": "AtualizarEstacoes",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "dados que serão atualizados",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Estacao"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "retorna a estação com os dados alterados"
          }
        }
      }
    },
    "/estacao/disable": {
      "delete": {
        "tags": [
          "Estações"
        ],
        "summary": "Desativar uma estação",
        "description": "Desativa uma estação, impedindo dados de serem recebidos",
        "operationId": "disableEstacao",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "ID da estação",
            "in": "body",
            "description": "Id da Estação que será desativada",
            "required": true,
            "schema": {
              "items": {
                "$ref": "#/definitions/EstacaoID"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok"
          },
          "400": {
            "description": "ID de estação inválido"
          },
          "404": {
            "description": "Chamado not found"
          }
        }
      }
    }
  },
  "definitions": {
    "Estacao": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64"
        }
      }
    },
    "EstacaoID": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64",
          "example": "6254056c201cec400af6S1e6"
        }
      }
    },
    "Sensor": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64"
        }
      }
    },
    "SensorID": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64"
        }
      }
    }
  },
  "externalDocs": {
    "description": "Conheça a Convecção",
    "url": "https://github.com/"
  }
}